<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
      BlueROV2 Heavy

      References:
        [0] Wu, Chu-Jou. "6-dof modelling and control of a remotely operated vehicle."
            MS Thesis. Flinders University, 2018.
        [1] Dukan, Fredrik. "ROV Motion Control Systems." PhD Thesis, NTNU, 2014.
        [2] Berg, Viktor. Development and Commissioning of a DP system for ROV SF 30k. MS
            thesis. Institutt for marin teknikk, 2012.
  -->
  <!-- includes -->
  <xacro:include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find dave_snippets)/urdf/sensor_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>  

  <!-- Parameters -->
  <xacro:property name="namespace" value="brov2"/>
  <xacro:property name="visual_mesh_file" value="file://$(find brov2_description)/meshes/brov2.dae"/>
  <xacro:property name="prop_mesh_file" value="file://$(find brov2_description)/meshes/brov2_prop.dae"/>

  <!-- Mass, see p.48 in Wu2018 -->
  <xacro:property name="mass" value="11.5"/>

  <xacro:macro name="brov2_base" params="namespace *gazebo inertial_reference_frame">
    <!-- base_link according to ROS conventions: x forward, z up -->
    <link name="${namespace}/base_link">
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.16" ixy="0.0" ixz="0" iyy="0.16" iyz="0" izz="0.16"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${visual_mesh_file}" scale="1 1 1"/>
        </geometry>
      </visual>
      <!-- note: orientation yaw 180? -->
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${visual_mesh_file}" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Set up hydrodynamic plugin given as input parameter -->
    <xacro:insert_block name="gazebo"/>

    <!-- optional: plugin to test compare Gazebo's returned accelerations
    <gazebo>
      <plugin name="${namespace}_test_plugin" filename="libuuv_accelerations_test_plugin.so">
        <link_name>${namespace}/base_link</link_name>
      </plugin>
    </gazebo> -->

    <xacro:include filename="$(find brov2_description)/urdf/brov2_actuators.xacro"/>
    <xacro:include filename="$(find brov2_description)/urdf/brov2_sensors.xacro"/>

  </xacro:macro>
</robot>
